.DS_Store
.project
.pydevproject
.settings/
*.bak
*.py[co]
*.log
*.sql
*.pem
.tox/
*.egg-info
cache/
ocr/
fixtures/
venv/
tests/output/
__pycache__/
/MANIFEST
/dist/
/.tox
/build/
/.coverage
/*.egg-info/
htmlcov/
.sass-cache/
reports/
*.db