<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
   "http://www.w3.org/TR/html4/loose.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <!-- base on http://zurb.com/playground/projects/responsive-email-templates/basic.html -->
    <meta name="viewport" content="width=device-width">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>zenblip</title>
    <style>
        [touch-action="none"] {
            -ms-touch-action: none;
            touch-action: none;
        }
        [touch-action="pan-x"] {
            -ms-touch-action: pan-x;
            touch-action: pan-x;
        }
        [touch-action="pan-y"] {
            -ms-touch-action: pan-y;
            touch-action: pan-y;
        }
        [touch-action="scroll"],
        [touch-action="pan-x pan-y"],
        [touch-action="pan-y pan-x"] {
            -ms-touch-action: pan-x pan-y;
            touch-action: pan-x pan-y;
        }
    </style>
</head>

<body bgcolor="#FFFFFF">
    <!-- HEAD Logo -->
    <!-- 95,183,255 -->
    <table style="width:100%;-webkit-font-smoothing:antialiased;" bgcolor="#5Fb7ff">
        <tbody>
            <tr>
                <td></td>
                <td class="header container" style='display: block!important;max-width:800px!important;margin: 0 auto!important;clear: both!important;'>
                    <div class="content" style="padding: 5px;max-width:800px;margin: 0 auto;display: block;">
                        <table bgcolor="#5Fb7ff" style='width:100%'>
                            <tbody>
                                <tr>
                                    <td>
                                        <h1 style='color:#fff;font-size:32px;font-weight:400;margin:0;font-family:HelveticaNeue-UltraLight,Helvetica;'>zenblip Hint</h1>
                                        <!-- <img src="http://zenblip.appspot.com/img/zenblip_logo_small.png"> -->
                                    </td>
                                    <td align="right" style='color:#f2f2f2'>
                                        <h6 class="collapse" style='margin:0;padding:0;font-size:17px;font-family:Helvetica;font-weight:300;'>zenblip for recruiters</h6>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </td>
                <td></td>
            </tr>
        </tbody>
    </table>

    <!-- Main body -->
    <table class="body-wrap" style='width:100%;-webkit-font-smoothing:antialiased;font-size:14px;margin-top:50px;'>
        <tbody>
            <tr>
                <td></td>
                <td class="container" bgcolor="#FFFFFF" style="display:block!important;max-width:800px!important;margin:0 auto!important;clear:both!important;">
                    <div class="content" style="padding:5px;max-width:800px;margin:0 auto;display:block;">
                        <table style='width:100%;'>
                            <tbody>
                                <tr>
                                    <td>
                                        <div style="margin-top:0px;margin-bottom:27px;letter-spacing:-0.01em;">
                                            <div>

Hi There!<br>
<br>
As you are now starting to get the hang of things, have you remembered to check out and customize your zenblip user settings?<br>
<br>
You can do this by accessing your zenblip dashboard. Click on the zenblip logo in your email tool bar (you will then be directed to the dashboard) > click on ‘Settings’ > click on the appropriate email account and away you go.<br />
<br>
Hope this helps and makes zenblip even better for you and your needs.<br>
<br>
Cheers and have fun,<br>
<br>
The zenblip team<br>
<br>
|zenblip for recruiters|<br>


                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </td>
                <td></td>
            </tr>
        </tbody>
    </table>
</body>

</html>