<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
   "http://www.w3.org/TR/html4/loose.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <!-- base on http://zurb.com/playground/projects/responsive-email-templates/basic.html -->
    <meta name="viewport" content="width=device-width">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>zenblip</title>
    <style>
        [touch-action="none"] {
            -ms-touch-action: none;
            touch-action: none;
        }
        [touch-action="pan-x"] {
            -ms-touch-action: pan-x;
            touch-action: pan-x;
        }
        [touch-action="pan-y"] {
            -ms-touch-action: pan-y;
            touch-action: pan-y;
        }
        [touch-action="scroll"],
        [touch-action="pan-x pan-y"],
        [touch-action="pan-y pan-x"] {
            -ms-touch-action: pan-x pan-y;
            touch-action: pan-x pan-y;
        }
    </style>
</head>

<body bgcolor="#FFFFFF">
    <!-- HEAD Logo -->
    <!-- 95,183,255 -->
    <table style="width:100%;-webkit-font-smoothing:antialiased;" bgcolor="#5Fb7ff">
        <tbody>
            <tr>
                <td></td>
                <td class="header container" style='display: block!important;max-width:800px!important;margin: 0 auto!important;clear: both!important;'>
                    <div class="content" style="padding: 5px;max-width:800px;margin: 0 auto;display: block;">
                        <table bgcolor="#5Fb7ff" style='width:100%'>
                            <tbody>
                                <tr>
                                    <td>
                                        <h1 style='color:#fff;font-size:32px;font-weight:400;margin:0;font-family:HelveticaNeue-UltraLight,Helvetica;'>Welcome</h1>
                                        <!-- <img src="http://zenblip.appspot.com/img/zenblip_logo_small.png"> -->
                                    </td>
                                    <td align="right" style='color:#f2f2f2'>
                                        <h6 class="collapse" style='margin:0;padding:0;font-size:17px;font-family:Helvetica;font-weight:300;'>zenblip for recruiters</h6>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </td>
                <td></td>
            </tr>
        </tbody>
    </table>

    <!-- Main body -->
    <table class="body-wrap" style='width:100%;-webkit-font-smoothing:antialiased;font-size:14px;margin-top:50px;'>
        <tbody>
            <tr>
                <td></td>
                <td class="container" bgcolor="#FFFFFF" style="display:block!important;max-width:800px!important;margin:0 auto!important;clear:both!important;">
                    <div class="content" style="padding:5px;max-width:800px;margin:0 auto;display:block;">
                        <table style='width:100%;'>
                            <tbody>
                                <tr>
                                    <td>
                                        <div style="margin-top:0px;margin-bottom:27px;letter-spacing:-0.01em;">
                                            <div>

Hi there! <br /><br />

Thanks for joining zenblip for recruiters. <br /><br />

Ever send out an email to a great candidate but got no response? Yeah, me too. <br /><br />

As you are now getting started, we thought this would be a good opportunity to make sure you know all the details of what zenblip can do for you as a recruiter, and where to get help if you ever need it. <br /><br />

Zenblip will help you know…. <br />
1. what time your emails have been received <br />
2. if they have been read or not <br />
3. what location it is being read <br />
4. what device it is being read on <br />
5. how many times it has been read <br />
6. if your links are being clicked on <br /><br />

And help you on your way to finding out invaluable insights about your candidates and clients…So you can know them better than your competitors and increase your bottom line. <br /><br />

If you are not sure about anything, have some feedback and comments or would just like to have a question answered, feel free to reach out to us anytime, anywhere.<br />
<br />
Cheers,<br>
<br>
The zenblip team<br>
<br>
|zenblip for recruiters|<br>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </td>
                <td></td>
            </tr>
        </tbody>
    </table>
</body>

</html>