<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
   "http://www.w3.org/TR/html4/loose.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <!-- base on http://zurb.com/playground/projects/responsive-email-templates/basic.html -->
    <meta name="viewport" content="width=device-width">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>zenblip</title>
    <style>
        [touch-action="none"] {
            -ms-touch-action: none;
            touch-action: none;
        }
        [touch-action="pan-x"] {
            -ms-touch-action: pan-x;
            touch-action: pan-x;
        }
        [touch-action="pan-y"] {
            -ms-touch-action: pan-y;
            touch-action: pan-y;
        }
        [touch-action="scroll"],
        [touch-action="pan-x pan-y"],
        [touch-action="pan-y pan-x"] {
            -ms-touch-action: pan-x pan-y;
            touch-action: pan-x pan-y;
        }
    </style>
</head>

<body bgcolor="#FFFFFF">
    <!-- HEAD Logo -->
    <!-- 95,183,255 -->
    <table style="width:100%;-webkit-font-smoothing:antialiased;" bgcolor="#5Fb7ff">
        <tbody>
            <tr>
                <td></td>
                <td class="header container" style='display: block!important;max-width:800px!important;margin: 0 auto!important;clear: both!important;'>
                    <div class="content" style="padding: 5px;max-width:800px;margin: 0 auto;display: block;">
                        <table bgcolor="#5Fb7ff" style='width:100%'>
                            <tbody>
                                <tr>
                                    <td>
                                        <h1 style='color:#fff;font-size:32px;font-weight:400;margin:0;font-family:HelveticaNeue-UltraLight,Helvetica;'>zenblip Hint</h1>
                                        <!-- <img src="http://zenblip.appspot.com/img/zenblip_logo_small.png"> -->
                                    </td>
                                    <td align="right" style='color:#f2f2f2'>
                                        <h6 class="collapse" style='margin:0;padding:0;font-size:17px;font-family:Helvetica;font-weight:300;'>zenblip for recruiters</h6>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </td>
                <td></td>
            </tr>
        </tbody>
    </table>

    <!-- Main body -->
    <table class="body-wrap" style='width:100%;-webkit-font-smoothing:antialiased;font-size:14px;margin-top:50px;'>
        <tbody>
            <tr>
                <td></td>
                <td class="container" bgcolor="#FFFFFF" style="display:block!important;max-width:800px!important;margin:0 auto!important;clear:both!important;">
                    <div class="content" style="padding:5px;max-width:800px;margin:0 auto;display:block;">
                        <table style='width:100%;'>
                            <tbody>
                                <tr>
                                    <td>
                                        <div style="margin-top:0px;margin-bottom:27px;letter-spacing:-0.01em;">
                                            <div>

Hi There!<br>
<br>
Hope zenblip is working out well for you (let us know if it isn't - just reply to this message). Here's a quick detail on zenblip that you may have been wondering about.<br>
<br>
<b>Why does zenblip sometime say that "Someone" has opened my email? Why doesn't it know who?</b><b>Why doesn't it know who?</b><br />
<br>
zenblip email tracking works by inserting a small piece of code into every tracked email.
When you send an email to multiple people or an email with cc` recipients, zenblip
knows that the message was opened, but is sometimes less than 100% confident it
knows which specific person has opened it..as our servers do not control theirs.. :)<br>
<br>
Over time, as you track more emails with zenblip, the system will learn about who is opening your mail and clicking on your links and the amount of "Someone" notifications should decrease. With more people using zenblip and sending messages, zenblip leverages the usage data and improves its accuracy and ability to discern between recipients, a form of artificial intelligence.<br><br>
<br>
A couple of <b>hints</b> to make your emails more accurate:<br>
<br>
* Sending individual messages to recipients will increase zenblip's ability to uniquely identify individuals over time<br>
<br>
* Include images within your email (so recipients choose to display images if they aren't shown by default)<br>
<br>
* Include links within your emails<br>
<br>
* Include unique names or ID's in the subject title (for example, "Opportunity: Position #10A")<br>
<br>
Hope that helps and clarifies things a little bit more.<br>
<br>
Cheers and have fun,<br>
<br>
The zenblip team<br>
<br>
|zenblip for recruiters|<br>


                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </td>
                <td></td>
            </tr>
        </tbody>
    </table>
</body>

</html>